{% extends "master_page.html" %}

<!DOCTYPE html>
<html lang="he">

<head>

{% block head %}
	{{block.super}}
{%endblock%}
</head>


<body id="body">
<!-- header -->
{% block menuup %}
		{{ block.super }}
		{% endblock %}
	
	{% block mainsite %}	
	{{ block.super }}
	<div class="body">
		<div>
			<div class="header">
				<ul>
					<li>
						<a href="home">Home</a>
					</li>
					<li>
						<a href="recipes">Recipes</a>
					</li>
					<li>
						<a href="addrecipes">Add recipe</a>
					</li>
					<li>
						<a href="recipeofuser"  >My recipes</a>
					</li>
					
					<li class="current">
						<a href="about">About us</a>
					</li>
				</ul>
			</div>
			<div class="body">
				<div id="content">
					<div>
					<div  dir="ltr">
					Who are we?<br>
					<p><p>
					Students of software engineering in third year
					<p>
					As part of software engineering course Azrieli college
					<p>
					We have established this website to enable people to share and view recipes
					<p>
					Our special feature is that people can watch recipe with a simulator
					<p>
					That guides the user step by step
					<p>
					To use the simulator and upload recipes you must be logged to the site by google account 
					</div>
				<p>	
						<div  dir="ltr">
							
<div class="ContactArticle">
				<table width="600px" class="freecontactform">
					<tr>
						<td colspan="2">
							<div class="freecontactformheader" ><center>Contact Us</center></div>
						</td>
					</tr>
					<tr>
						<td valign="top">
							<label for="Full_Name" class="required" style="font-size:16px">Full Name<span class="required_star"> * </span></label>
						</td>
						<td valign="top">
							<input type="text" name="Full_Name" id="Full_Name" maxlength="80" style="width:230px">
						</td>
					</tr>
					<tr>
						<td valign="top">
							<label for="Email_Address" class="required" style="font-size:16px">Email Address<span class="required_star"> * </span></label>
						</td>
						<td valign="top">
							<input type="text" name="Email_Address" id="Email_Address" maxlength="100" style="width:230px">
						</td>
					</tr>
					<tr>
						<td valign="top">
							<label for="Your_Message" class="required" style="font-size:16px">Your Message<span class="required_star"> * </span></label>
						</td>
						<td valign="top">
							<textarea style="width:230px;height:160px" name="Your_Message" id="Your_Message" maxlength="2000"></textarea>
						</td>
					</tr>
					<tr>
						<td colspan="2" style="text-align:center" >
							<br /><br />
							<button onclick="successAlert()">Send</button>
							<br /><br />
							<br /><br />
						</td>
					</tr>
				</table>			
		</div>
							</br>
							
						</div>
					</div>
				</div>
			</div>
		</div>
					{% endblock %}
		{% block site %}
		{{ block.super }}
			{% endblock %}
</body>

</html>
