{% extends "master_page.html" %}

<!DOCTYPE html>
<html lang="he">

<head>

{% block head %}
	{{block.super}}
{%endblock%}
</head>


<body id="body">
<!-- header -->
{% block menuup %}
		{{ block.super }}
		{% endblock %}
	
	{% block mainsite %}	
	{{ block.super }}
			<div class="body">
				<div id="content">
					<div>
						<div  dir="rtl">
							<h4>מי אנחנו</h4>
							<p>
							האתר הוקם בשנת 2015 - איך מתחילים <a></a>
							<br></br>
								נרשמים לאתר, צופים במתכונים וסימולציות , מדרגים מתכונים, משתפים ומעלים מתוכנים ,  <a></a>
							<br></br></p>
							<br>
							כל זה ועוד........עוד לא התחלתם הגיע הזמן
							</br><br></br><br></br>
							
							<br>
							<big>כל הזכיות שמורות ל</big>
							</br>
							<br>
							<big>תמר אליהו</big>
							</br>
							<br>
							<big>אופיר כהן</big>
							</br>
							<br>
						    <big> אסף בבני</big>
							</br>
							<br>
							<big>עומרי שרביט</big>
							</br>
								<br>
								</p>
								</br><br>
							-אם יש לכם תלונות הערות והצעות לשיפור -
							אנו כתבו לנו פה
							<br>
							<br>
							<textarea name="comments" cols="25" rows="5">
כתבו פה
</textarea><br>
<input type="submit" value="שלח" />
							</br>
							
						</div>
					</div>
				</div>
			</div>
		</div>
				{% endblock %}
		{% block site %}
		{{ block.super }}
			{% endblock %}
</body>

</html>
