{% extends "master_page.html" %}

<!DOCTYPE html>
<html lang="he">

<head>

{% block head %}
	{{block.super}}

{%endblock%}
</head>

<body id="body">
<!-- header -->
{% block menuup %}
		{{ block.super }}
		
		{% endblock %}
	
	{% block mainsite %}	
	{{ block.super }}
	<div class="body">
		<div>
			<div class="header" dir="rtl" >
				<ul>
					<li>
						<a href="home" >Home</a>
					</li>
					<li>
						<a href="recipes">Recipes</a>
					</li >
					<li class="current" ydir="rtl">
						<a href="addrecipes">Add recipe</a>
					</li>
					<li>
						<a href="recipeofuser"  >My recipes</a>
					</li>
					<li>
						<a href="about">About us</a>
					</li>
					
				</ul>
			</div>
			<div class="body">
				<div id="content">
					<div>
						<div  dir="rtl">
					
						<br>
					
						שם המתכון
<textarea name="comments" id="inputNameRecipe" cols="25" rows="1"></textarea>


<br>
<br>

<select id="inputType">
  <option value="בשרי">בשרי</option>
  <option value="חלבי">חלבי</option>
  <br>
</select>


<br>
<br>
<form method="post" action="">
<textarea name="comments"  id="inputIngredients" cols="40" rows="25">
הוסף רשימת מצרכים,כל מצרך בשורה נפרדת

לדוגמה:

כפית סוכר
כוס שמן
....
</textarea><br>

<form action="http://www.cs.tut.fi/cgi-bin/run/~jkorpela/echo.cgi"
enctype="multipart/form-data" method="post">
<p>
<input type="submit" value="העלה תמונה">
<input type="file" name="datafile" size="40">
</p>
<div>

</div>
</form>


<br>
add picture with link

	<textarea name="comments"  id="inputpic_url" cols="25" rows="1" dir="rtl"></textarea>

<br/>

<br>


<br></br>
<br></br>

<h1>Please add simulator for the recipe</h1>
<br>
<br>


<div dir="ltr" style="position:absolute; top:115%; left:20%;">
<h3 >If this step need timer, <p>
 please insert how much time needs<p> (in minutes)  <span><input id="inputTime" placeholder="0" size="3"   ></span></h3>  

</div>

<textarea id="inputStep" cols="25" rows="5" dir="ltr"></textarea>
<p>
<p>



<input type="button" id="submitStep" value="Add New step"  >


<br>

<br>
</form>

<h1 dir="ltr" u><i> recipe step </u></i></h1>
						<table id ="box" dir="ltr" style="table-layout:fixed;color:blue;font-size:110%" border="0px">
							<col width="300px" />
							<col width="130px" />
							<col width="30px" />
							<tr>
								<td><h3>Step</h3></td>
								<td><h3>timer</h3></td>
							</tr>
						</table>
						
<div  dir="center">
<button id="submitSimulator">Submit</button>


</div>
						</div>
					</div>
				</div>
			</div>
		</div>
							{% endblock %}
		{% block site %}
		{{ block.super }}
			{% endblock %}
</body>

</html>
