{% extends "master_page.html" %}

<!DOCTYPE html>
<html lang="he">

<head>

{% block head %}
	{{block.super}}
<script>
function addtext() {
	var newtext = document.myform.inputtext.value;
	document.myform.inputtext.value="";
	document.myform.outputtext.value += newtext;
	document.myform.outputtext.value +="\n";
}
</script>
{%endblock%}
</head>

<body id="body">
<!-- header -->
{% block menuup %}
		{{ block.super }}
		
		{% endblock %}
	
	{% block mainsite %}	
	{{ block.super }}
	<div class="body">
		<div>
			<div class="header" dir="rtl" >
				<ul>
					<li>
						<a href="home" >Home</a>
					</li>
					<li>
						<a href="recipes">Recipes</a>
					</li >
					<li class="current" ydir="rtl">
						<a href="addrecipes">Add recipe</a>
					</li>
					<li>
						<a href="recipeofuser"  >My recipes</a>
					</li>
					<li>
						<a href="about">About us</a>
					</li>
					
				</ul>
			</div>
			<div class="body">
				<div id="content">
					<div>
						<div  dir="rtl">
					
						<br>
					
						שם המתכון
<textarea name="comments" id="inputNameRecipe" cols="25" rows="1"></textarea>


<br>
<br>

<select id="inputType">
  <option value="בשרי">בשרי</option>
  <option value="חלבי">חלבי</option>
  <br>
</select>


<br>
<br>
<form method="post" action="">
<textarea name="comments"  id="inputIngredients" cols="40" rows="25">
הוסף רשימת מצרכים,כל מצרך בשורה נפרדת

לדוגמה:

כפית סוכר
כוס שמן
....
</textarea><br>

<form action="http://www.cs.tut.fi/cgi-bin/run/~jkorpela/echo.cgi"
enctype="multipart/form-data" method="post">
<p>
<input type="submit" value="העלה תמונה">
<input type="file" name="datafile" size="40">
</p>
<div>

</div>
</form>


<br>
add picture with link

	<textarea name="comments"  id="inputpic_url" cols="25" rows="1" dir="rtl"></textarea>

<br/>

<br>


<br></br>
<br></br>

<h1>Please add simulator for the recipe</h1>
<br>
<br>

<form name="myform">

<textarea name="inputtext" id="addstepToList" cols="25" rows="5" dir="ltr"></textarea>
<p>
<input type="button" value="Add New step" onClick="addtext();">
<p>

<textarea id="outputtext" name="outputtext" cols="25" rows="5" dir="ltr"></textarea>

</form>
<div dir="ltr">
<h3 > If this step need timer, <p>
 please insert how much time needs (in minutes)</h3>  
<input id="inputTime" placeholder="0" size="10">
</div>


<br>

<br>
</form>


<div  dir="center">
<button id="submitSimulator">Submit</button>


</div>
						</div>
					</div>
				</div>
			</div>
		</div>
							{% endblock %}
		{% block site %}
		{{ block.super }}
			{% endblock %}
</body>

</html>
