{% extends "master_page.html" %}

<!DOCTYPE html>
<html lang="he">

<head>

{% block head %}
	{{block.super}}

{%endblock%}
</head>

<body id="body">
<!-- header -->
{% block menuup %}
		{{ block.super }}
		
	{%endblock%}
	
	{% block mainsite %}	
	{{ block.super }}
	

	<div class="body">
		<div>
			<div class="header" dir="rtl" >
				<ul>
					<li>
						<a href="home" >Home</a>
					</li>
					<li>
						<a href="recipes">Recipes</a>
					</li >
					<li dir="rtl">
						<a href="addrecipes">Add recipe</a>
					</li>
					<li>
						<a href="recipeofuser"  >My recipes</a>
					</li>
					<li>
						<a href="about">About us</a>
					</li>
					
				</ul>
			</div>
		
			
			
			{% if user %}	
			<div class="body">
				<div id="content">
					<div>
						<div  dir="ltr">
					
						<br>
					
						Recipe name
<textarea name="comments" id="inputNameRecipe" cols="25" rows="2">{{name_recipe}}</textarea>


<br>
<br>

<select id="inputType">
  <option value="Meat meal">Meat meal</option>
  <option value="Dairy">Dairy</option>
  <br>
</select>


<br>
<br>
<form method="post" action="">
<textarea name="comments" dir="ltr"  id="inputIngredients" cols="45" rows="10">{{ingredients}}</textarea><br>



<br>
add picture with link

	<textarea name="comments"  id="inputpic_url" cols="25" rows="2" dir="ltr">{{pic_url}}</textarea>

<br/>

<br>


<br></br>
<br></br>

<h1>Please add simulator for the recipe</h1>
<br>

<table style="width:100%">
  <tr>
    <td>
		<textarea id="inputStep" cols="25" rows="5" dir="ltr"></textarea>
		<p>
		<p>
	</td>
	<td>
		<div dir="ltr" ">
		<h3 >If this step need timer, <p>
		please insert how much time needs<p> (in minutes)  <span><input id="inputTime" placeholder="0" size="3"   ></span></h3>  
		</div>
	</td>
  </tr>
  <tr>
	<td>
		<input type="button" id="submitStep" value="Add New step">
	</td>
  </tr>
</table>
<br>

<br>
</form>

<h1 dir="ltr" u><i> recipe step </u></i></h1>
						<table id ="box" dir="ltr" style="table-layout:fixed;color:blue;font-size:110%" border="0px">
							<col width="300px" />
							<col width="130px" />
							<col width="30px" />
							<tr>
								<td><h3>Step</h3></td>
								<td><h3>timer</h3></td>
							</tr>
						</table>
						
<div  dir="center">
<button id="submitChange" onClick="submitChange('{{name_recipe}}')">Save changes</button>


</div>
						</div>
					</div>
				</div>
			</div>
		
							
							
		
<script>
	var list_of_step= {{recipeStep|safe }}
	
	
	
	var dom = document.getElementById('box');
	$("#box").empty();
	dom.insertAdjacentHTML('beforeend','<col width="300px"/><col width="130px" /><col width="30px" /><tr><td><h3>Step</h3></td><td><h3>timer</h3></td> </tr>');
	for (i = 0; i < list_of_step.length; ++i)
	{
		if ( list_of_step[i][1]!=""){
	dom.insertAdjacentHTML('beforeend','<td>'+ list_of_step[i][0] + '</td>' + '<td>' +list_of_step[i][1] +'(min)' + '</td>'
	+'<td><img src="/static/img/deleteButton.jpg" onclick=deleteFromList('+i+') valign="bottom"></td></p>')
	}
	else {
	dom.insertAdjacentHTML('beforeend','<td>'+ list_of_step[i][0] + '</td>' + '<td>' +list_of_step[i][1] + '</td>'
	+'<td><img src="/static/img/deleteButton.jpg" onclick=deleteFromList('+i+') valign="bottom"></td></p>')
	}
	}

</script>
		
							
							
		
		
				{% else %}
			
		<div class="body">
		
				
	
		
	
		<div id="overlay" class="hidden">
		<center>
			<p><p><p><br>
			<br>
			<br><br><br><br><br>
			<br><br><br><br><br><br><br><br><br><br>
			<h1 style="color:white">Welcome to wikiCook.<br>
		<p>
		to watch this page you need to be logged in
		<p>
		<p>
		<br>
			<button id="hide" style="   border-radius: 25px;  border: 2px solid #a1a1a1;  padding: 10px 40px;   no-repeat; text-align: center;  text-size:10px;  width:130px;"><b>Not now!!!!</b></button><br>
		<img id="gconnect" src="/static/img/glogin.png" onclick="location.href='{{loginUrl}}'" alt="Connect with Google">

			</h1>
		</center>
		</div>
			<script>
		show();
		
	</script>
			
			
	
			</div>

{% endif %}
</div>	
	{% endblock %}
	
	{% block site %}
		{{ block.super }}
			{% endblock %}	
</body>

</html>
