{% extends "master_page.html" %}

<!DOCTYPE html>
<html lang="he">

<head>

{% block head %}
	{{block.super}}
{%endblock%}
</head>


<body id="body">
<!-- header -->
{% block menuup %}
		{{ block.super }}
		{% endblock %}
	
	{% block mainsite %}	
	{{ block.super }}
<div class="body">
		<div>
			<div class="header">
				<ul>
					<li>
						<a href="home">Home</a>
					</li>
					<li class="current">
						<a href="recipes">Recipes</a>
					</li>	
					<li>
						<a href="addrecipes">Add recipe</a>
					</li>
					<li>
						<a href="recipeofuser"  >My recipes</a>
					</li>
					<li>
						<a href="about">About us</a>
					</li>
				</ul>
			</div>
			<div class="body" dir="ltr">
				<div id="content" dir="ltr">
					<div>
						<div>
							<h2 dir="ltr">{{name_recipe}}</h2>
							<center><a><img src= {{pic_url}} alt="Image" height="300"></a></center>
							<h2>ingredients:</h2>
							{% for i in ingredients %}
							<h5>{{i}}</h5>
							{% endfor%}
							
							<h2>recipe:</h2>
							{% for i in recipeStep %}
							<h5>{{i}}</h5>
							{% endfor%}
							
					
								
							<ol class="directions" dir="rtl" >

								
								<div id="14311573453331"   class="wE"><script src="http://widget-engine.com/w:0:003:14311573453331:1:000:40" type="text/javascript"></script><a class="wE" title="Free Rating Code for your webprojects"></a></div>
<h1><a href='simulator?myvar={{name_recipe}}'> 
 <img src="/static/img/simulator.png"  height="120"/>   </a> 

									
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
				{% endblock %}
		{% block site %}
		{{ block.super }}
			{% endblock %}
</body>

</html>
