{% extends "master_page.html" %}

<!DOCTYPE html>
<html lang="he">

<head>

{% block head %}
	{{block.super}}
{%endblock%}
</head>


<body id="body">
<!-- header -->
{% block menuup %}
		{{ block.super }}
		{% endblock %}
	
	{% block mainsite %}	
	{{ block.super }}
<div class="body">
		<div>
			<div class="header">
				<ul>
					<li>
						<a href="home">Home</a>
					</li>
					<li class="current">
						<a href="recipes">Recipes</a>
					</li>	
					<li>
						<a href="addrecipes">Add recipe</a>
					</li>
					<li>
						<a href="recipeofuser"  >My recipes</a>
					</li>
					<li>
						<a href="about">About us</a>
					</li>
				</ul>
			</div>
			<div class="body" dir="ltr">
				<div id="content" dir="ltr">
					<div>
						<div>
							
							<div class= "header" style=" color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;" ><center> <h1>{{name_recipe}}</div class= "header"></h1></center>
							<p>
							<center><a><img src= {{pic_url}} alt="Image" height="300"></a></center>
														<h2 style="  border-radius: 25px;   border: 2px solid #a1a1a1;  padding: 10px 40px;     background: #dddddd;    width: 250px;" >ingredients:</h2>
							{% for i in ingredients %}
							<h5>{{i}}</h5>
							{% endfor%}
							
							<h2 style="   border-radius: 25px;  border: 2px solid #a1a1a1;  padding: 10px 40px;     background: #dddddd;    width:200px;" >recipe:</h2>
							<h5 id="steps" >
    
</h5>
<script>	

var current_step = 0;
var steps = [];


function loadSteps() {
//this is a mock function for loading steps
//it simulates loading from the server

	var step = {{recipeStep|safe }};

	for ( var i =0 ;  i < step.length ; i++) {
		steps[i]= {"text":step[i][0] , "timer":step[i][1]}  ;
	}

	for ( var i =0 ;  i < step.length ; i++) {
		
			$('#steps').append('<font size="2">'+(i+1)+'. ' +steps[i]['text']+ '</font><p>');
		
		
	}

	
};

$(function() {
	loadSteps();
})



</script>
						
							
					
								
							<ol class="directions" dir="rtl" >

								
								<div id="14311573453331"   class="wE">
								<script src="http://widget-engine.com/w:0:003:14311573453331:1:000:40" type="text/javascript"></script><a class="wE" title="Free Rating Code for your webprojects"></a></div>
<h1><a href='simulator?myvar={{name_recipe}}'> 
 <img src="/static/img/simulator.png"  height="120"/>   </a> 

									
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
				{% endblock %}
		{% block site %}
		{{ block.super }}
			{% endblock %}
</body>

</html>
