{% extends "master_page.html" %}

<!DOCTYPE html>
<html lang="he">

<head>

{% block head %}
	{{block.super}}
{%endblock%}
</head>

 <div class="body">
{% block menuup %}
		{{ block.super }}
		
		{% endblock %}
	
	
	{% block mainsite %}	
	{{ block.super }}
	<div class="body">
	
		<div>
				<div class="header" dir="ltr" >
				<ul>
					<li class="current">
						<a href="home">Home</a>
					</li>
					<li>
						<a href="recipes">Recipes</a>
					</li>
					<li>
						<a href="addrecipes">Add Recipe</a>
					</li>
					
						<li>
						<a href="recipeofuser">My recipes</a>
					</li>
					
					<li>
						<a href="about">About As</a>
					</li>
				</ul>
			</div>
			<div class="body">
				<div>
					<a  href="recipes"><img src="/static/img/ttt.png" alt="Image" height="125%" width="155%"></a>
				</div>
			</div>
			<div class="footer" dir="ltr" >
				<ul>
					<li>
						<font size="5" color="gray">Delicous deserts</font> 
							<br></br>
						<div id="changePic">
						  <img id="myImage" src="/static/img/featured.jpg" alt="Image" height="285%" width="48%"/>
						</div>
					</li>
					<li>
						<font size="5" color="gray">Delicous meals</font> 
							<br></br>
						<div id="changePic">
						  <img id="myImage2" src="/static/img/a-z.jpg" alt="Image" height="285%" width="48%"/>
						</div>
					</li>
				</ul>
			</div>
		</div>
		
		<script>
			var images = new Array ('/static/img/6.jpg', '/static/img/7.jpg', '/static/img/8.jpg', '/static/img/9.jpg', '/static/img/10.jpg');
			var index = 1;
			 
			function rotateImage()
			{
			  $('#myImage').fadeOut('fast', function() 
			  {
				$(this).attr('src', images[index]);
				
				$(this).fadeIn('fast', function() 
				{
				  if (index == images.length-1)
				  {
					index = 0;
				  }
				  else
				  {
					index++;
				  }
				});
			  });
			} 
			 
			$(document).ready(function()
			{
			  setInterval (rotateImage, 4000);
			});
		</script>
		
		<script>
			var images2 = new Array ('/static/img/1.jpg', '/static/img/2.jpg', '/static/img/3.jpg', '/static/img/4.jpg', '/static/img/5.jpg');
			var index2 = 1;
			 
			function rotateImage2()
			{
			  $('#myImage2').fadeOut('fast', function() 
			  {
				$(this).attr('src', images2[index2]);
				
				$(this).fadeIn('fast', function() 
				{
				  if (index2 == images2.length-1)
				  {
					index2 = 0;
				  }
				  else
				  {
					index2++;
				  }
				});
			  });
			} 
			 
			$(document).ready(function()
			{
			  setInterval (rotateImage2, 5000);
			});
		</script>
		
				{% endblock %}
		{% block site %}
		{{ block.super }}
			{% endblock %}

</body>

</html>
