{% extends "master_page.html" %}

<!DOCTYPE html>
<html lang="he">

<head>

{% block head %}
	{{block.super}}
{%endblock%}
</head>

 <div class="body">
{% block menuup %}
		{{ block.super }}
		
		{% endblock %}
	
	
	{% block mainsite %}	
	{{ block.super }}
	<div class="body">
	
		<div>
			<div class="header">
				<ul>
					<li class="current">
						<a href="home">Home</a>
					</li>
					<li>
						<a href="recipes">Recipes</a>
					</li>
					<li>
						<a href="addrecipes">Add Recipe</a>
					</li>
					
						<li>
						<a href="recipeofuser"  >MY recipe</a>
					</li>
					
					<li>
						<a href="about">About As</a>
					</li>
				</ul>
			</div>
			<div class="body">
				<div>
					<a  href="recipes"><img src="/static/img/pork-barbeque.jpg" alt="Image" height="125%" width="125%"></a>
				</div>
				<ul>
					<li class="current">
						<a href="recipes">     <img    src="/static/img/holi-turkey.jpg" alt="Image"></a>
						<div>
							<font size="4" color="gray">מתכונים בשריים</font>
							<p>
								לחצו על התמונה והתחילו 
							</p>
						</div>
					</li>
					<li>
						<a href="recipes"><img src="/static/img/fruits-and-bread.jpg" alt="Image"></a>
						<div>
							<font size="4" color="gray">מתכונים פרווה</font>
							<p>
								לחצו על התמונה והתחילו 
							</p>
						</div>
					</li>
					<li>
						<a href="recipes"><img src="/static/img/dessert.jpg" alt="Image"></a>
						<div >
							<font size="4" color="gray">מתכוניים חלביים</font> 
							<p>
								לחצו על התמונה והתחילו 
							</p>
						</div>
					</li>
				</ul>
			</div>
			<div class="footer" dir="rtl" >
				<ul>
					<li>
						<font size="5" color="gray">קינוחים מנצחים</font> 
							<br></br>
						<a href="recipes"><img src="/static/img/featured.jpg" alt="Image"></a>
					</li>
					<li>
						<font size="5" color="gray">מנות מנצחות</font> 
							<br></br>
						<a href="recipes"><img src="/static/img/a-z.jpg" alt="Image"></a>
					</li>
				</ul>
			</div>
		</div>
				{% endblock %}
		{% block site %}
		{{ block.super }}
			{% endblock %}

</body>

</html>
