{% extends "master_page.html" %}

<!DOCTYPE html>
<html lang="he">

<head>

{% block head %}
	{{block.super}}
{%endblock%}
</head>


<body id="body">
<!-- header -->
{% block menuup %}
		{{ block.super }}
		
		{% endblock %}
	
	{% block mainsite %}	
	{{ block.super }}
	<div class="body">
		<div>
			<div class="header" dir="rtl" >
				<ul>
					<li>
						<a href="home" >Home</a>
					</li>
					<li class="current" ydir="rtl">
						<a href="recipes">Recipes</a>
					</li>
					<li>
						<a href="addrecipes">Add recipe</a>
					</li>
					<li>
						<a href="recipeofuser"  >My recipes</a>
					</li>
					<li>
						<a href="about">About us</a>
					</li>
					
				</ul>
			</div>
			<div class="body">
				{% for i in recipes %}
				<div id="content">
					<div>
						<ul>
							<li>
								<div>
									<a href='/featured?myvar={{i.0}}'><div class="link"><b>{{i.0}}</b></div></a>
								</div>
								<img src="{{i.1}}" style="width:30%; height:60%;"  id="src_recipe"/>
								
							</li>
						</ul>
					</div>
				</div>
				{% endfor%}
			</div>
		</div>
					{% endblock %}
		{% block site %}
		{{ block.super }}
			{% endblock %}
			
</html>



