{% extends "master_page.html" %}

<!DOCTYPE html>
<html lang="he">

<head>

{% block head %}
	{{block.super}}
{%endblock%}
</head>


<body id="body">
<!-- header -->
{% block menuup %}
		{{ block.super }}
		
		{% endblock %}
	
	{% block mainsite %}	
	{{ block.super }}
	<div class="body">
		<div>
			<div class="header" dir="rtl" >
				<ul>
					<li >
						<a href="home" >Home</a>
					</li>
					<li >
						<a href="recipes">Recipes</a>
					</li>
					<li>
						<a href="addrecipes">Add recipe</a>
					</li>
					<li class="current">
						<a href="recipeofuser"  >My recipes</a>
					</li>
					
					<li>
						<a href="about">About us</a>
					</li>
					
				</ul>
			</div>
			<div class="body">
				{% for i in recipes %}
				<div id="content">
					<div>
						<ul>
							<li>
							
								<a href='/featured?myvar={{i.0}}'><div class="link">{{i.0}}</div> </a>
								<br>	
									<img src="{{i.1}}" style="width:28%; height:54%;"  id="src_recipe"/>
								</br>
								
								<br>
									<button id="deleteRecipe" style="color:black"  onClick="deleteRecipe('{{i.0}}' , confirm('Are you sure you want to delete ' + '{{i.0}} ' + '?') )">Delete</button>
									<button id="Edit" style="color:black" value="Reset" onclick="location.href = '/editrecipe?myvar={{i.0}}';">Edit</button>
							
								</br>
							</li>
						</ul>
					</div>
				</div>
				{% endfor%}
			</div>
		</div>
					{% endblock %}
		{% block site %}
		{{ block.super }}
			{% endblock %}
			
</html>



