{% extends "master_page.html" %}

<!DOCTYPE html>
<html lang="he">

<head>

{% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  
  
	{{block.super}}
{%endblock%}
</head>


<body id="body">
<!-- header -->
{% block menuup %}
		{{ block.super }}
		{% endblock %}
	
	{% block mainsite %}	
	{{ block.super }}
	<div class="body">
		<div>
			<div class="header">
				<ul>
					<li>
						<a href="home">דף הבית</a>
					</li>
					<li  class="current">
						<a href="recipes">מתכונים</a>
					</li>
					<li>
						<a href="addrecipes">העלאת מתכון</a>
					</li>
					<li>
						<a href="about">עלינו</a>
					</li>
				</ul>
			</div>
			<div class="body">
				<div id="content" >
				
					<div>
						<div>
							<center>	<h1>{{name_recipe}} </h1> </center>
   

							<p>

<script>





var current_step = 0;
var steps = [];
var stepsss = [] ;

function loadSteps() {
    //this is a mock function for loading steps
    //it simulates loading from the server
    
	var step = {{recipeStep|safe }};
	
	for ( var i =0 ;  i < step.length ; i++) {
		steps[i]= {"text":step[i]}  ;
	}
	

};

function showNextStep() {
        console.log("next step");
    if(current_step < steps.length) {
        $('#steps').append('<div>'+current_step+': '+steps[current_step]['text']+'</div>');
		
        current_step++;
    }
    else {
        alert('You finish!!!');
    }
}
        
$(function() {
        loadSteps();
        $('#next_step').on('click', showNextStep);
})


		
		</script>
						

<div id="steps">
    
</div>
<input  id="next_step" type="image" src="/static/img/next.png"  width="200" height="100" />

			
			
						</p>
							
						
						</div>
					</div>
				</div>
			</div>
		</div>
				{% endblock %}
		{% block site %}
		{{ block.super }}
			{% endblock %}
</body>

</html>
