{% extends "master_page.html" %}

<!DOCTYPE html>
<html lang="he">

<head>

{% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="countdown.js"></script>
  
	{{block.super}}
{%endblock%}
</head>


<body id="body">
<!-- header -->
{% block menuup %}
		{{ block.super }}
		{% endblock %}
	
	{% block mainsite %}	
	{{ block.super }}
	<div class="body">
		<div>
			<div class="header">
				<ul>
					<li>
						<a href="home">Home</a>
					</li>
					<li  class="current">
						<a href="recipes">Recipes</a>
					</li>
					<li>
						<a href="addrecipes">Add recipe</a>
					</li>
					<li>
						<a href="recipeofuser"  >My recipes</a>
					</li>
					
					<li>
						<a href="about">About us</a>
					</li>
				</ul>
			</div>
				{% if user %}	
			<div class="body">
				<div id="content" >
				
					<div>
						<div>
							<center>	<h1 style=" color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px brown, 0 0 5px darkblue;">{{name_recipe}} </h1> </center>
   <p>


							<p>

<script>





var current_step = 0;
var steps = [];
var sec =1;
var min = 0;
var hour = 0;
function loadSteps() {
    //this is a mock function for loading steps
    //it simulates loading from the server
    
	var step = {{recipeStep|safe }};
	
	for ( var i =0 ;  i < step.length ; i++) {
		steps[i]= {"text":step[i][0] , "timer":step[i][1]}  ;
	}
	return;

};

function showNextStep() {
      
    if(current_step < steps.length) 
	{
		if ( steps[current_step]['timer'] != ''){
			$('#steps').append('<div><font color: size="4">'+'Step '+(current_step+1)+': ' +steps[current_step]['text']+'</font></div>');
			$('#steps').append('<div><b><font size="2" style=" border: 2px solid #a1a1a1;    padding: 10px 40px;     background: url(/static/img/46.jpg);    width: 300px;    border-radius: 25px;" >'+'this step needs timer press start when you ready ('+ steps[current_step]['timer'] +' minutes)'+'</font><p><b></div><br>');				
			min =steps[current_step]['timer']%60 ;
			hour = parseInt(steps[current_step]['timer']/60);
			current_step++;
		
			resetIt();
			
		}
		else {
			$('#steps').append('<div><font size="4">'+'Step '+(current_step+1)+': ' +steps[current_step]['text'] +'</font></div>');
			current_step++;
		}
		
		if(current_step == steps.length)
		{
			hide();
			showNextStep();
			return;
		}
	
    }
    else {
		$('#steps').append('<div><input id="finish_step" type="image" src="/static/img/finish.png"  width="200" height="100" onclick="newDoc()" /></div>');
		hide();
		return;
    }
	
	return;
}
function newDoc() 
{
	window.location.assign("http://wi-ki1.appspot.com/featured?myvar={{name_recipe}}")
}

function showStartStep() 
{
		$('#steps').append('<div><input  id="start_step"  type="image" src="/static/img/start.png"  width="200" height="100" /></div>');
		return;
}

        
$(function() {
	hide();
	if(current_step == 0) 
	{
		showStartStep();
		$('#start_step').on('click', show);
		$('#start_step').on('click', disabledStart);	
		$('#start_step').on('click', showNextStep);
	
		
	}
    loadSteps();
    $('#next_step').on('click', showNextStep);
})

function disabledStart()
{
	document.getElementById("start_step").disabled = true;
	return;
}

function show()
{
	document.getElementById("next_step").style.visibility="visible";
	return;
}

function hide(){
	document.getElementById("next_step").style.visibility="hidden";
	return;
}


<!-- Copyright 2001, Sandeep Gangadharan -->
<!-- For more free scripts go to http://www.sivamdesign.com/scripts/ -->

<!--

function stopwatch(text) {
   sec--;
  if (sec == 0) {
   sec = 59;
   if (min!=0){
   min = min - 1; }
   }
  else {
   min = min; }
   
  if (min == 0 && sec ==1 && hour==0 ) {
	alert("time is over");
	min=0;
	sec=0;
	hour=0;
	return;
	}
   
   if (min == 0 && sec ==1 && hour!=0 ) {
	
   min = 59; 
   hour -= 1; }

if (sec<=9) { sec = "0" + sec; }
   document.clock.stwa.value = ((hour<=9) ? "0"+hour : hour) + " : " + ((min<=9) ? "0" + min : min) + " : " + sec;

  if (text == "start") { document.clock.theButton.value = "stop "; }
  if (text == "stop ") { document.clock.theButton.value = "start"; }

  if (document.clock.theButton.value == "start") {
   window.clearTimeout(SD);
   return true; }
SD=window.setTimeout("stopwatch();", 1000);


}

 
function resetIt() {

  sec = 1;
 
  if (document.clock.theButton.value == "stop ") {
  document.clock.theButton.value = "start"; }
  window.clearTimeout(SD);
 }
 
</script>



<table bgcolor="#c0c0c0" align="right" border="0" width="140" cellspacing="0">
  <tr>
     <td align="center">
       <font face="verdana, arial, helvetica, sans-serif" size="2">
       <b>timer</b></font>
     </td>
  </tr>
  <tr>
     <td align="center">
       <form name="clock">
       <input type="text" size="12" name="stwa" value="00 : 00 : 00" style="text-align:left" /><br />
       <input type="button" name="theButton" onClick="stopwatch(this.value);" value="start" />
    
       </form>
     </td>
  </tr>     
</table>
<audio id="xyz" src="whatever_you_want.mp3" preload="auto"></audio>
						
<div id="steps">
    
</div>
<br>
<br>

<input  id="next_step"  type="image" src="/static/img/next.png"  width="200" height="100" />

			
			
						</p>
							
						
						</div>
					</div>
				</div>
			</div>
		
		
						{% else %}
			
		<div class="body">
		
				
	
		
	
		<div id="overlay" class="hidden">
		<center>
			<p><p><p><br>
			<br>
			<br><br><br><br><br>
			<br><br><br><br><br><br><br><br><br><br>
			<h1 style="color:white">Welcome to wikiCook.<br>
		<p>
		to watch this page you need to be logged in
		<p>
		<p>
		<br>
			<button id="hide" style="   border-radius: 25px;  border: 2px solid #a1a1a1;  padding: 10px 40px;   no-repeat; text-align: center;  text-size:10px;  width:130px;"><b>Not now!!!!</b></button><br>
		<img id="gconnect" src="/static/img/glogin.png" onclick="location.href='{{loginUrl}}'" alt="Connect with Google">

			</h1>
		</center>
		</div>
			<script>
		show();
	</script>
			
			
	
			</div>

{% endif %}
</div>	
	{% endblock %}
	
		{% block site %}
		{{ block.super }}
			{% endblock %}
</body>

</html>
