{% extends "master_page.html" %}

<!DOCTYPE html>
<html lang="he">

<head>

{% block head %}
	{{block.super}}
{%endblock%}
</head>


<body id="body">
<!-- header -->
{% block menuup %}
		{{ block.super }}
		
		{% endblock %}
	
	{% block mainsite %}	
	{{ block.super }}
			<div class="body">
				<div id="content">
					<div>
						<div>
							<img src="/static/img/start.png"  
 style="padding-left:220px;" width="200" height="100" />
							<p>
							<h1>Scrambled eggs in a bowl  <img src="/static/img/next.png"  
 style="padding-left:500px; " align="top" width="100"  /> </h1>	
							<script language="JavaScript" type="text/javascript">
<!-- Copyright 2001, Sandeep Gangadharan -->
<!-- For more free scripts go to http://www.sivamdesign.com/scripts/ -->

<!--
var sec = 30;
var min = 0;
var hour = 0;
function stopwatch(text) {
   sec--;
  if (sec == 60) {
   sec = 0;
   min = min - 1; }
  else {
   min = min; }
  if (min == 60) {
   min = 0; 
   hour -= 1; }
   

if (sec<=9) { sec = "0" + sec; }
   document.clock.stwa.value = ((hour<=9) ? "0"+hour : hour) + " : " + ((min<=9) ? "0" + min : min) + " : " + sec;

  if (text == "התחל") { document.clock.theButton.value = "עצור "; }
  if (text == "עצור ") { document.clock.theButton.value = "התחל"; }

  if (document.clock.theButton.value == "התחל") {
   window.clearTimeout(SD);
   return true; }
SD=window.setTimeout("stopwatch();", 1000);


}

  if(document.clock.stwa.value ="00:00:00")
     document.getElementById('/static/img/WTF_BOOM_-_Sound_Effect.mp3').play();
function resetIt() {
  sec = 30;
  min = 0;
  hour = 0;
  if (document.clock.theButton.value == "עצור ") {
  document.clock.theButton.value = "התחל"; }
  window.clearTimeout(SD);
 }
 
</script>



<table bgcolor="#c0c0c0" align="right" border="0" width="140" cellspacing="0">
  <tr>
     <td align="right">
       <font face="verdana, arial, helvetica, sans-serif" size="2">
       <b>זמן בישול/אפייה</b></font>
     </td>
  </tr>
  <tr>
     <td align="center">
       <form name="clock">
       <input type="text" size="12" name="stwa" value="00 : 00 : 30" style="text-align:left" /><br />
       <input type="button" name="theButton" onClick="stopwatch(this.value);" value="התחל" />
       <input type="button" value="אפס" onClick="resetIt();reset();" />
       </form>
     </td>
  </tr>     
</table>
<audio id="xyz" src="whatever_you_want.mp3" preload="auto"></audio>
							</p>
							
							<p>
							<h1>Add salt and pepper and mix well  30 secunds <img src="/static/img/next.png"  
 style="padding-left:500px; " align="top" width="100"  /> </h1>	
							
							
							</p>
							<p>
							<h1>Boil a pan with a teaspoon of oil<img src="/static/img/next.png"  
 style="padding-left:500px; " align="top" width="100"  /> </h1>	
							
							
							</p>
						<p>
							<h1>Pour the beaten egg into the pan<img src="/static/img/next.png"  
 style="padding-left:500px; " align="top" width="100"  /> </h1>	
							
							
							</p>
							
								<p>
							<h1>Wait until the omelette will turn yellow and will take shape Shut down the pan .<img src="/static/img/finsh.png"  
 style="padding-left:500px; " align="top" width="100"  /> </h1>	
							 
							
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
				{% endblock %}
		{% block site %}
		{{ block.super }}
			{% endblock %}
</body>

</html>
